body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color:#001f3f;
    color: #333;
}

header {
    background-color: #001f3f;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style:-webkit-linear-gradient();
    display: flex;
    gap: 20px;
}

nav ul li a {

    color: white;
    text-decoration: none;
}

.hero {
    background: url('6ff977db18ed27f4b12f18282dcf762f.jpg') no-repeat center center/cover;
    color: white;
    padding: 150px;
    text-align: center;
}

.cta {


    background-color: #0074D9;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 40px 20px;
    background-color: #fff;
    margin: 20px 0;
}

.gallery {


    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.gallery img {
    width: 250PX;
    height: 270PX;
    border-radius: 10px;
}

form input,
form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    padding: 10px 20px;
    background-color: #0074D9;
    color: deepskyblue;
    border: none;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #001f3f;
    color: white;
}